.nav {
  border-bottom: 1px solid grey;
  width: 100%;
}
.nav .nav--body {
  width: 800px;
  margin: 0 auto;
}
.nav--brand{
  width: 100px;
  float:left;
}
.nav--body a {
  text-decoration: none;
}
.nav--menu {
  width: 300px;
  float: left;
}
.nav--menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.nav--menu ul li {
  display: inline;
  margin-right: 15px;
  float: left;
}

.clearfix {
  clear: both;
}

div.card {
  text-align: center;
  background: red;
  padding: 25px;
}
#one,#two {
  float: left;
}
#three {
  clear: left;
}
#four,#five {
  float: right;
}

div.card:hover {
  border: 1px solid grey;
}

